<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment8ItHurtsWhenIp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="col-sm-2">
      <h3><%= link_to "Lab 08", root_path %></h3>
      <br>
      <% User.all.each do |user| %>
        <%= link_to "#{user.first_name} #{user.last_name}", user, class: "btn btn-default btn-block", :onclick => 'name_of_function(); return false;', user: user.id %>
      <% end %>
    </div>

    <div class="col-sm-10">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
