<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment8ItHurtsWhenIp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="col-sm-1">
      <h3><%= link_to "Lab 08", root_path %></h3>
      <br>
      <%= link_to "Users", users_path, class: "btn btn-default btn-block" %>
      <%= link_to "Products", products_path, class: "btn btn-default btn-block" %>
    </div>

    <div class="col-sm-11">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
